.navegation {
    padding: 0.2rem;
    background-color: var(--white-color);
}
.navegation .content{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.navegation .content img{
    width: 250px;
    
}
.navegation .content h1{
    font-size: 1.5rem;
    color: var(--primary-color);

}
/* Filters */

.wrapper-filters {
    padding: 1rem;
    margin-bottom: 20px;
}
.wrapper-filters h2 {
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 2px;
    color: var(--primary-color);
}

.filters {
    display: flex;
    justify-content: center;
}

.filter {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 10px 0px;
}

.filter label {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.filter select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--white-color);
    color: var(--secondary-color);
}

.filter select option {
    background-color: var(--white-color);
    color: var(--secondary-color);
}

.filter input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 200px;
    background-color: var(--white-color);
    color: var(--secondary-color);
}
.filters button {
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    cursor: pointer;
    height: 40px;
    width: 60px;
}


/* Data */
.wrapper-current {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5em;
}

.wrapper-current h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.current {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 1rem;
}

.variable {
    display: flex;
    flex-direction: column;
    padding: 0.3rem;
}

/* Graphs */
.wrapper-graphs {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}


@media only screen and (max-width: 600px) {
    .wrapper-current {
        padding: 2rem;
    }
    .current {
        flex-direction: column;
    }
}


.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    width: 45px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(#F61E36 0 0);
    background: 
      var(--c) 0%   50%,
      var(--c) 50%  50%,
      var(--c) 100% 50%;
    background-size: 20% 100%;
    animation: l1 1s infinite linear;
  }
  @keyframes l1 {
    0%  {background-size: 20% 100%,20% 100%,20% 100%}
    33% {background-size: 20% 10% ,20% 100%,20% 100%}
    50% {background-size: 20% 100%,20% 10% ,20% 100%}
    66% {background-size: 20% 100%,20% 100%,20% 10% }
    100%{background-size: 20% 100%,20% 100%,20% 100%}
  }